<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Eventos" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Camara QR" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Contacto" tabIcon="contacts"></ion-tab>
</ion-tabs>
