page-item-detail {
  ion-slide {
    color: rgba(12,123,123,1);
  }
}

// div, h2 {
//   color: danger;
// }

// ion-card {
//   position: relative
// }

.card-icon {
  position: absolute;
  top: 300px;
  left: 78%;
  //padding-left: 0.1em;
  font-size: 3.0em;
  width: 100%;
  color: red;
}

// .container {
//   position: relative;
//   display: inline-block;
// }

button.div {
  font-weight: bold;
}

ion-slides {
  background-color: black;
}

.container img {
  zoom: 2;  //increase if you have very small images

  display: block;
  margin: auto;

  height: 6em;
  max-height: 100%;

  width: 100%;
  max-width: 100%;
}

.pop-button {
  position: absolute;
  left: 85%;
}
