<!--
  Generated template for the ItemDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-header>
<!-- <button *ngIf="showImages" ion-button clear icon-only style="position: absolute" (click)="popPage()">
  <ion-icon name="close-circle" style="font-size: 2.5em"></ion-icon>
</button> -->
<!-- <button *ngIf="!showImages" ion-button clear icon-only style="position: absolute; right: 1%; top: 5%; font-size: 1.6em">
  <ion-icon name="images"></ion-icon>
</button> -->

<!-- <img *ngIf="!showImages" width="100%" height="230px" src={{item.img}} (click)="viewPhoto()"/> -->

<!-- <button float-left ion-button clear icon-only (click)="popPage()">
  <ion-icon name="arrow-back" style="font-size: 2.5em"></ion-icon>
</button> -->

<div class="container">
  <div *ngIf="item.imgs != null">
    <ion-slides loop="true" slidesPerView="1" effect="coverFlow" pager="true" paginationType="bullets">
      <ion-slide *ngFor="let img of item.imgs">
        <img src="./assets/imgs/{{item.category}}/{{item.id}}/{{img}}" onError="this.src='./assets/imgs/img-not-found.png'"/>
      </ion-slide>
    </ion-slides>
  </div>
</div>
<div class="pop-button">
  <button float-left ion-button clear icon-only (click)="popPage()">
    <ion-icon name="close" style="font-size: 2.5em"></ion-icon>
  </button>
</div>
</ion-header>

<ion-content padding>
  <h2>
    {{ item.name }}
  </h2>

  <p style="font-size: 14px; color: gold">
    <span *ngFor="let st of [1,2,3,4,5]">
      <ion-icon *ngIf="item.stars >= st" name="star"></ion-icon>
      <ion-icon *ngIf="item.stars < st" name="star-outline"></ion-icon>
    </span>
  </p>

  <p align="center">
    <button *ngIf="item.phone" ion-button (click)="goApp('tel', item.phone)"><ion-icon name="call"></ion-icon></button>
    <button *ngIf="item.web" ion-button (click)="goWeb(item.web)"><ion-icon name="globe"></ion-icon></button>
    <button *ngIf="item.email" ion-button (click)="sendEmail()"><ion-icon name="at"></ion-icon></button>
    <button *ngIf="item.geo" ion-button (click)="goGeo(item.geo)"><ion-icon name="navigate"></ion-icon></button>
  </p>
  <div id="item-body">

  </div>
  <br/>

  <span *ngIf="item.services"><strong>Servicios: </strong><br/></span>
  <div id="item-services">
  </div>

  <span *ngIf="item.equips"><strong>Equipamiento: </strong><br/></span>
  <div id="item-equips">
  </div>

  <hr/>

  <p>
    <span *ngIf="item.direction"><strong>Direccion:</strong> {{item.direction}} <br/></span>
    <span *ngIf="item.phones"><strong>Telefono:</strong> {{item.phones}} <br/></span>
    <span *ngIf="item.email"><strong>Email:</strong> {{item.email}} <br/></span>
    <span *ngIf="item.web"><strong>Web:</strong> {{item.web}} <br/></span>
  </p>
  </ion-content>
  <!-- <p (click)="goWeb()">Dirección</p> -->
  <!-- <a href="geo:0,0?daddr=Lepoldo+Urrutia+2000">Dirección</a> -->
