<ion-header>
  <ion-navbar>
    <ion-title>
      Contacto
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Nicolás Leporati - DUOC</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      ElQuiscoApp 4.1.3b
    </ion-item>
  </ion-list>
</ion-content>
