<ion-content>
  <h2 id="app-title">El  Quiscoo</h2>

  <br/><br/><br/>
  <div class="buttons">
    <button ion-button block outline icon-start color="secondary" (click)="clickItemList('Alojamientos')">
      <img src="./assets/icon/bed.png"/> Alojamientos
    </button><br/>
    <button ion-button block outline color="secondary" (click)="clickItemList('Gastronomía')">
      <img src="./assets/icon/breakfast.png"/> Gastronomía
    </button><br/>
    <button ion-button block outline color="secondary" (click)="clickItemList('Atractivos')">
      <img src="./assets/icon/beach.png"/>Atractivos
    </button><br/>
    <button ion-button block outline color="secondary" (click)="clickItemList('Actividades')">
      <img src="./assets/icon/rowing.png"/>Actividades
    </button><br/>
    <button ion-button block outline color="secondary" (click)="clickServicesList()">
      <img src="./assets/icon/ambulance.png"/>Servicios
    </button>
  </div>
</ion-content>
