page-home {
  ion-content{
    background-image: url('../assets/imgs/El_Quisco.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

  .buttons{
    width: 65% !important;
    display: inline-block;
    text-align: center;

  button{
    background-color: rgba(0, 0, 0, 0.5) !important;
    // height: 150%;
    // border-width: 1.5px;
    color: rgba(256, 256, 256, 0.9);
    font-weight: 50 !important;
  }

  }

  img {
    position: absolute;
    right: 55%;
    transform: scale(0.3,0.3);
  }
}

#app-title {
  // transform: translate(-50%, -50%);
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Romantic-Beach" !important;
  font-weight: 300 !important;
  font-size: 4em;
  text-shadow: 2px 2px #ff531a;
  color: #f2f2f2;
}

.subtitle {
  font-size: 3em;
}

.btn-servicios {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  //text-align: center;

}
