<!--
  Generated template for the ItemListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <span align="left">
      <ion-title>{{category}}</ion-title>
    </span>

    <!-- <ion-col align="right" style="padding-right: 0.8em; font-size: 21px; position: absolute; right: 1%; top: 8%">
      <ion-icon name="search" (click)="presentPopover($event)"></ion-icon>
    </ion-col> -->

  </ion-navbar>

  <!-- <ion-icon name="search" style="padding-right: 0.8em; font-size: 21px"></ion-icon> -->

  <ion-toolbar>
    <!-- <ion-buttons start >
      <button ion-button icon-only>
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-buttons end (click)="showSubCategory()">
      <button ion-button icon-right>
        {{ subCategory | titlecase }}<ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding id="list">

  <ion-list>
    <!-- <ion-item *ngFor="let item of items" (click)="clickItem(item)">
      <ion-avatar item-start>
        <ion-img src={{item.img}}></ion-img>
      </ion-avatar>
      {{ item.name }} <br/>
      {{ item.text }}
      <div item-end>
        {{ item.stars }} <ion-icon name="star"></ion-icon>
      </div>
    </ion-item> -->

    <ion-card *ngFor="let item of items" (click)="clickItem(item)">
      <img src="./assets/imgs/{{item.category}}/{{item.id}}/{{item.img}}" onError="this.src='./assets/imgs/img-not-found.png'"/>
      <ion-card-content>
        <ion-card-title>
          {{ item.name }}
          </ion-card-title>
        <p>
          {{ item.text }}
        </p>
      </ion-card-content>
      <ion-row>
        <ion-col ion-button left clear big align="left" style="color: gold">
          <div *ngFor="let st of [1,2,3,4,5]">
            <ion-icon *ngIf="item.stars >= st" name="star"></ion-icon>
            <ion-icon *ngIf="item.stars < st" name="star-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col align="center" style="left: 24%">
          <button ion-button icon-left clear small style="color: red">
            <ion-icon name="heart"></ion-icon>
            <div>{{item.favs}}</div>
          </button>
        </ion-col>
        <ion-col align="right">
          <button ion-button icon-left clear small style="color: green">
            <ion-icon name="text"></ion-icon>
            <div>{{item.comments}}</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <p *ngIf="items.length === 0 && subCategory !== 'todos'">
    No se encontraron resultados para {{subCategory}}.
  </p>

</ion-content>
