<!--
  Generated template for the ItemListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <span align="left">
      <ion-title>Servicios de Emergencia</ion-title>
    </span>

    <!-- <ion-col align="right" style="padding-right: 0.8em; font-size: 21px; position: absolute; right: 1%; top: 8%">
      <ion-icon name="search" (click)="presentPopover($event)"></ion-icon>
    </ion-col> -->

  </ion-navbar>

</ion-header>


<ion-content>

  <!-- <ion-list> -->

    <!-- <ion-card *ngFor="let item of items" (click)="clickItem(item)">
      <ion-card-content>
        <ion-card-title>
          {{ item.name }}
          </ion-card-title>
        <p>
          <ion-icon name="call" style="color: green"></ion-icon>  {{ item.phone }}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list> -->

  <ion-list>
    <ion-item *ngFor="let item of items" (click)="clickItem(item.phone)">
      <h1> {{item.name}} </h1>
      <ion-icon name="call" style="color: green"></ion-icon> {{ item.phone }}
    </ion-item>
  </ion-list>

  <p *ngIf="items.length === 0 && subCategory !== 'todos'">
    No se encontraron resultados para servicios de emergencia.
  </p>

</ion-content>
